/*
Introdução ao Desenvolvimento Web
Grupo 3 - Hortifruti

Alunos:
Giovanna Gonçalves Cutieri - 10295197
Pedro Ramos Cunha - 10892248
André Gustavo Jucovski - 9783272
Armando Akio Morey Filho - 8485632
Yan Crisostomo Rohwedder - 9779263
*/

#user_username, #user_password{
	margin-right: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	size: 90%;
	padding-top: 4px;
	padding-bottom: 4px;
}

#user_remember{
	float: left; 
	margin-right: 10px;
	margin-left: 15px;
}

#login_button{
	clear: left; 
	width: 100%; 
	height: 32px; 
	font-size: 14px;
	text-decoration: underline;
	color: white;
	background-color: #1b3130;
	border: none;
	outline: 0;
	margin-bottom: 0px;
	cursor: pointer;
}

.dropdown-menu{
	background-color: #1b3130;	
	opacity: 70%;
	border: none;
	left: -200%;
}