/*
Introdução ao Desenvolvimento Web
Grupo 3 - Hortifruti

Alunos:
Giovanna Gonçalves Cutieri - 10295197
Pedro Ramos Cunha - 10892248
André Gustavo Jucovski - 9783272
Armando Akio Morey Filho - 8485632
Yan Crisostomo Rohwedder - 9779263
*/

#buttons {
	text-align: center;  
	padding: 5%;
}

#buttons button {
	padding: 1%;
	padding-left: 2%;
	padding-right: 2%
}

input::placeholder{
  	color: #313631;
}

.searchbar-button {
	background: none;
	border: none;
}

.searchbar-button:hover {
	cursor: pointer;
}

.marcado {
	margin-left: 0;
}